In [1]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import statistics as st
import seaborn as sns
import datetime 
from geopy import distance
import folium
from folium.plugins import MarkerCluster
from folium.features import GeoJsonTooltip
from branca.colormap import LinearColormap
from collections import Counter
import json
from shapely.geometry import Point
import geopandas as gpd
from shapely.geometry import shape

In [2]:
data_types = {
    "rideable_type": "category", 
    "start_station_name": "category", 
    "end_station_name": "category", 
    "member_casual":"category",
    # "ride_id":"uint32",
    "time_of_day":"category",
    "trip_type":"category"}

In [ ]:
dc_maryland_gdf = pd.read_csv("dc_maryland_gdf_full_updated.csv",parse_dates= ["started_at", "ended_at"],dtype=data_types, low_memory=False)

In [ ]:
dc_maryland_gdf["rideable_type"] = dc_maryland_gdf["rideable_type"].astype("category")
dc_maryland_gdf["start_station_name"] = dc_maryland_gdf["start_station_name"].astype("category")
dc_maryland_gdf["end_station_name"] = dc_maryland_gdf["end_station_name"].astype("category")
dc_maryland_gdf["member_casual"] = dc_maryland_gdf["member_casual"].astype("category")

In [8]:
bikes.columns

Index(['Unnamed: 0', 'ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'member_casual', 'start_lat', 'start_lng', 'end_lat',
       'end_lng', 'start_time', 'end_time', 'start_hour', 'end_hour',
       'trip_duration_minutes', 'time_of_day', 'geometry', 'year', 'month',
       'WARD', 'NAME', 'COUNTY'],
      dtype='object')

In [10]:
bikes = bikes.drop(columns="Unnamed: 0")

In [22]:
bikes['area'] = np.where(bikes['WARD'].notnull(), 'DC', 'Maryland')

In [24]:
# # Count rides per area
rides_per_ward = bikes.groupby("area").size().reset_index(name="ride_count")  
rides_per_ward

       area  ride_count
0        DC      126675
1  Maryland        3469