In [1]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import statistics as st
import seaborn as sns
import datetime

In [2]:
bikes_hourly = pd.read_csv("CBS_2021-2023_Hourly_Weather.csv", parse_dates=["Date"])

In [3]:
bikes_hourly.head()

,Casual,Date,Hour,Member,Total_rides,relativehumidity_2m (%),temperature_2m (째C),weathercode (wmo code),windspeed_10m (km/h)
0,20.0,2021-01-01,0,26.0,46.0,90,2.4,1,10.2
1,23.0,2021-01-01,1,23.0,46.0,88,1.8,1,10.0
2,20.0,2021-01-01,2,28.0,48.0,87,1.1,2,10.1
3,9.0,2021-01-01,3,7.0,16.0,81,1.6,2,10.6
4,7.0,2021-01-01,4,5.0,12.0,77,1.6,2,9.9

In [4]:
bikes_hourly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26280 entries, 0 to 26279
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Casual                   26269 non-null  float64
 1   Date                     26280 non-null  datetime64[ns]
 2   Hour                     26280 non-null  int64
 3   Member                   26269 non-null  float64
 4   Total_rides              26269 non-null  float64
 5   relativehumidity_2m (%)  26280 non-null  int64
 6   temperature_2m (째C)      26280 non-null  float64
 7   weathercode (wmo code)   26280 non-null  int64
 8   windspeed_10m (km/h)     26280 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(3)
memory usage: 1.8 MB

In [6]:
bikes_hourly.shape

(26280, 9)

In [7]:
bikes_hourly.isna().sum()

Casual                     11
Date                        0
Hour                        0
Member                     11
Total_rides                11
relativehumidity_2m (%)     0
temperature_2m (째C)         0
weathercode (wmo code)      0
windspeed_10m (km/h)        0
dtype: int64