In [1]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import statistics as st
import seaborn as sns

In [2]:
bikes = pd.read_csv("/Users/pablosoriano/Documents/Data Science/Code Academy/projects/project_3_ capitalbikeshare/CBS_2021-2023_Full.csv", low_memory=False)

# Data Wrangling

In [3]:
bikes.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.960000,-77.020000,casual
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member
5,0FD3B4B2152425C3,electric_bike,2021-01-01 00:18:16,2021-01-01 00:29:05,NaN,NaN,Georgia Ave & Kennedy St NW,31415.0,38.930000,-77.030000,38.956738,-77.027940,casual
6,0535306B61EF92F9,classic_bike,2021-01-01 00:19:06,2021-01-01 00:36:28,Bladensburg Rd & Benning Rd NE,31617.0,Good Hope Rd & MLK Ave SE,31802.0,38.900413,-76.982872,38.867373,-76.988039,casual
7,78894BDABD9F21DD,electric_bike,2021-01-01 00:20:40,2021-01-01 00:35:36,Columbia Rd & Georgia Ave NW,31115.0,NaN,NaN,38.928081,-77.023768,38.900000,-77.020000,casual
8,CB36F43FA77E4A35,docked_bike,2021-01-01 00:21:19,2021-01-01 00:33:31,15th & F St NE,31632.0,1st & M St SE,31650.0,38.897195,-76.983575,38.876893,-77.006072,casual
9,874D92427D41BC30,classic_bike,2021-01-01 00:21:39,2021-01-01 00:31:07,14th & Otis Pl NW,31131.0,14th & R St NW,31202.0,38.934405,-77.032687,38.913046,-77.032008,member

In [4]:
bikes.shape

(10693997, 13)

In [5]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10693997 entries, 0 to 10693996
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 1.0+ GB

In [6]:
bikes["started_at"]=pd.to_datetime(bikes["started_at"])
bikes["ended_at"]=pd.to_datetime(bikes["ended_at"])
bikes.info()
bikes.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10693997 entries, 0 to 10693996
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 1.0+ GB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.960000,-77.020000,casual
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member

## handling missing / incomplete data

In [7]:
# missing values
bikes.isna().any()
bikes.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    742776
start_station_id      742776
end_station_name      811282
end_station_id        811282
start_lat                  2
start_lng                  2
end_lat                16765
end_lng                16765
member_casual              0
dtype: int64

maybe input missing starting and end station with the details from lat/lng? 
can also check the id of the stations to check for missing names and viceversea / nope, if they have the name, they have the id

In [38]:
bikes[bikes["end_station_id"]==31015.0]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

maybe dont need to check for lat and len, and only len is enough -  NOPE
Check if it's possible that there are more than one station in a given lat - yes, it's possible
not possible to do location by location, but can arrange it by area
check max and min values, that's the range

determine the latitude/long coordinates for each station
do a for loop creating a range of max and min, latitude and longitud, for each station. 
Use this range to input missing values.

In [ ]:
# transform coordinates into float
bikes2= bikes.copy()

# bikes2.astype({"start_lat": float})
bikes2.astype({"start_lat": float64, "start_lng": float64, "end_lat":float, "end_lng":float})

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646.0,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015.0,38.880440,-77.025236,38.894600,-77.072305,member
1,629E059504606547,electric_bike,2021-01-01 00:13:43,2021-01-01 00:29:34,10th & U St NW,31111.0,NaN,NaN,38.917193,-77.025894,38.960000,-77.020000,casual
2,E74069873161EE33,electric_bike,2021-01-01 00:14:32,2021-01-01 00:28:45,17th & Corcoran St NW,31214.0,14th & Belmont St NW,31119.0,38.912138,-77.038568,38.920870,-77.031691,member
3,91F95E512CABC46A,classic_bike,2021-01-01 00:15:45,2021-01-01 00:21:20,Wilson Blvd. & N. Vermont St.,31926.0,Wilson Blvd. & N. Vermont St.,31926.0,38.879477,-77.114563,38.879477,-77.114563,member
4,DA46A05139C0EA2F,classic_bike,2021-01-01 00:17:46,2021-01-01 00:21:00,11th & Park Rd NW,31651.0,14th & Newton St NW,31649.0,38.931322,-77.028247,38.931991,-77.032956,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10693992,1E69FA72F720F2E7,classic_bike,2023-12-31 23:58:06,2024-01-01 00:12:29,King St & Peyton St,31955.0,Market Square / King St & Royal St,31042.0,38.806002,-77.055911,38.804718,-77.043363,member
10693993,BA9E9FDBFAFDE618,electric_bike,2023-12-31 23:58:27,2024-01-01 00:02:28,Eastern Market Metro / Pennsylvania Ave & 8th ...,31613.0,Lincoln Park / 13th & East Capitol St NE,31619.0,38.884185,-76.995396,38.890461,-76.988355,member
10693994,F3B6C6BFB1F738D0,classic_bike,2023-12-31 23:59:27,2024-01-01 02:09:11,22nd & P ST NW,31285.0,23rd & E St NW,31260.0,38.909394,-77.048728,38.896104,-77.049882,casual
10693995,D2DB18DB58BC83D2,classic_bike,2023-12-31 23:59:30,2024-01-01 02:02:07,22nd & P ST NW,31285.0,22nd & P ST NW,31285.0,38.909394,-77.048728,38.909394,-77.048728,casual
10693996,095E4B13F44E3643,electric_bike,2023-12-31 23:59:38,2024-01-01 00:10:44,4th & Florida Ave NE,31532.0,NaN,NaN,38.907130,-77.000966,38.920000,-77.000000,member

In [ ]:

bikes2["start_station_id"]=bikes2["start_station_id"].str.replace(".0","")
#FIXME - cannot convert float NaN to integer. need to deal with the NaN first
bikes2["start_station_id"].astype(str)

bikes2["end_station_id"]=bikes2["end_station_id"].str.replace(".0","")
# bikes2["end_station_id"].astype("int", errors="ignore")

# bikes2.head()

In [53]:
bikes2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10693997 entries, 0 to 10693996
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 1.0+ GB

In [43]:
bikes2[bikes2["end_station_id"]== "31015"]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB9DFCECF79AF84,classic_bike,2021-01-01 00:08:33,2021-01-01 00:33:53,Maine Ave & 9th St SW,31646,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015,38.880440,-77.025236,38.894600,-77.072305,member
117,D28E842DF335F420,electric_bike,2021-01-01 02:28:42,2021-01-01 03:29:10,NaN,NaN,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015,38.910000,-77.030000,38.894925,-77.072183,member
343,311C3FA29A0A9610,classic_bike,2021-01-01 09:43:33,2021-01-01 11:18:23,Lynn St & 19th St North,31014,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015,38.897315,-77.070993,38.894600,-77.072305,member
938,858663974D79271D,classic_bike,2021-01-01 23:17:33,2021-01-01 23:47:16,Maine Ave & 9th St SW,31646,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015,38.880440,-77.025236,38.894600,-77.072305,member
3808,3452DBD532F28CD6,classic_bike,2021-01-02 14:29:45,2021-01-02 15:22:11,M St & New Jersey Ave SE,31208,Rosslyn Metro / Wilson Blvd & Ft Myer Dr,31015,38.876300,-77.003700,38.894600,-77.072305,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10670907,FF935BAF3142B9ED,classic_bike,2023-12-29 07:35:03,2023-12-29 08:45:17,Arlington Blvd & Ft Myer Dr,31937,Wilson Blvd & Ft Myer Dr,31015,38.890863,-77.074893,38.894600,-77.072305,casual
10683137,A96F75E42EA4325E,classic_bike,2023-12-30 15:07:23,2023-12-30 15:25:06,C & O Canal & Wisconsin Ave NW,31225,Wilson Blvd & Ft Myer Dr,31015,38.903750,-77.062690,38.894600,-77.072305,member
10683160,F918CCF29F0ECD14,classic_bike,2023-12-30 15:09:06,2023-12-30 15:25:12,C & O Canal & Wisconsin Ave NW,31225,Wilson Blvd & Ft Myer Dr,31015,38.903750,-77.062690,38.894600,-77.072305,casual
10685991,F6331D1479270103,classic_bike,2023-12-30 20:52:13,2023-12-30 21:15:38,Potomac & M St NW,31295,Wilson Blvd & Ft Myer Dr,31015,38.905509,-77.065246,38.894600,-77.072305,casual
10685992,DFFA79CFE380584B,classic_bike,2023-12-30 20:52:18,2023-12-30 21:15:30,Potomac & M St NW,31295,Wilson Blvd & Ft Myer Dr,31015,38.905509,-77.065246,38.894600,-77.072305,casual

## unique values

In [ ]:
# unique values before formatting
# Filter the DataFrame for object columns
non_numeric = bikes.select_dtypes("object")

# Loop through columns
for x in non_numeric.columns:
  
  # Print the number of unique values
  print(f"Number of unique values in {x} column: ", non_numeric[x].nunique())

# Filter the DataFrame for object columns
non_numeric = bikes2.select_dtypes("object")

# Loop through columns
for x in non_numeric.columns:
  
  # Print the number of unique values
  print(f"Number of unique values in {x} column: ", non_numeric[x].nunique())

  ##NOTE - removing the '.0" at the end of station id reduced the amount of unique values by 600

Number of unique values in ride_id column:  10693997
Number of unique values in rideable_type column:  3
Number of unique values in start_station_name column:  860
Number of unique values in start_station_id column:  1321
Number of unique values in end_station_name column:  865
Number of unique values in end_station_id column:  1338
Number of unique values in member_casual column:  2
Number of unique values in ride_id column:  10693997
Number of unique values in rideable_type column:  3
Number of unique values in start_station_name column:  860
Number of unique values in start_station_id column:  774
Number of unique values in end_station_name column:  865
Number of unique values in end_station_id column:  778
Number of unique values in member_casual column:  2

In [58]:
bikes2.isna().any()
bikes2.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    742776
start_station_id      742776
end_station_name      811282
end_station_id        811282
start_lat                  2
start_lng                  2
end_lat                16765
end_lng                16765
member_casual              0
dtype: int64

not many missing values of start_lat and lng, so I can use those values to fill the other ones

## Dealing with missing values

In [21]:
# Determine a range of latitude and longitud (max and min) for each station
coordinate_columns = bikes2[["start_lat","start_lng","end_lat","end_lng"]]

# bikes2[bikes2["start_station_name"]=="10th & U St NW"].nlargest(1, "start_lat")
print("max_latitude: ", bikes2[bikes2["start_station_name"]=="10th & U St NW"].nlargest(1,"start_lat")["start_lat"])
print("min_latitude: ",bikes2[bikes2["start_station_name"]=="10th & U St NW"].nsmallest(1,"start_lat")["start_lat"])

# filter = bikes2["start_station_name"]=="10th & U St NW"
# filter

max_latitude:  10395364    38.983053
Name: start_lat, dtype: float64
min_latitude:  10506149    38.916716
Name: start_lat, dtype: float64

In [27]:
# for loop to determine max and min lat of each unique stations(id)
unique_stations = bikes2["start_station_id"].unique()
len(unique_stations)
# max_lat=[]
# min_lat={}
# for station_id in unique_stations:
#    max_lat.append(bikes2[bikes2["start_station_id"]==station_id].nlargest(1,"start_lat")["start_lat"])

# max_lat

775

In [28]:
#max starting latitude
bikes2.groupby("start_station_id")["start_lat"].max()

# min starting latitude
bikes2.groupby("start_station_id")["start_lat"].min()

# max starting lng
bikes2.groupby("start_station_id")["start_lng"].max()

# min starting lng
bikes2.groupby("start_station_id")["start_lng"].min()

# max ending latitude
bikes2.groupby("end_station_id")["end_lat"].max()

# min ending latitude
bikes2.groupby("end_station_id")["end_lat"].min()

# max ending lng
bikes2.groupby("end_station_id")["end_lng"].max()

# min ending lng
bikes2.groupby("end_station_id")["end_lng"].min()

end_station_id
30200         -77.023979
30201         -77.023924
31000         -77.053818
31001         -77.055429
31002         -77.049719
                 ...
32902           0.000000
32906         -77.010255
32909         -77.010759
33200         -77.039778
MTL-ECO5-03          NaN
Name: end_lng, Length: 778, dtype: float64

## Step 1: Create a Station Boundary Lookup
Create a DataFrame containing the station IDs along with their latitude and longitude ranges.

In [ ]:
station_bounds = bikes2.groupby("start_station_id").agg({
    "start_lat": ["min", "max"],
    "start_lng": ["min", "max"]
}).reset_index()

# Flatten multi-level column names
station_bounds.columns = ["start_station_id", "min_lat", "max_lat", "min_lng", "max_lng"]

    start_station_id    min_lat    max_lat    min_lng    max_lng
0              30200  38.893468  38.989793 -77.028654 -77.022442
1              30201  38.893881  38.963606 -77.078465 -77.008407
2              31000  38.858413  38.901662 -77.054355 -77.003299
3              31001  38.857169  38.857405 -77.053835 -77.053320
4              31002  38.855909  38.898532 -77.050272 -77.031493
..               ...        ...        ...        ...        ...
769            32608  38.885257  38.900318 -77.188663 -77.173358
770            32609  38.885490  38.885722 -77.167024 -77.166716
771            32901  38.862614  39.100415 -77.157795 -76.923418
772            33200  38.896423  38.896861 -77.039935 -77.039502
773      MTL-ECO5-03        NaN        NaN        NaN        NaN

[774 rows x 5 columns]

In [94]:
station_bounds["centroid_lat"] = (station_bounds["min_lat"] + station_bounds["max_lat"]) / 2
station_bounds["centroid_lng"] = (station_bounds["min_lng"] + station_bounds["max_lng"]) / 2
station_bounds

,start_station_id,min_lat,max_lat,min_lng,max_lng,centroid_lat,centroid_lng
0,30200,38.893468,38.989793,-77.028654,-77.022442,38.941630,-77.025548
1,30201,38.893881,38.963606,-77.078465,-77.008407,38.928743,-77.043436
2,31000,38.858413,38.901662,-77.054355,-77.003299,38.880038,-77.028827
3,31001,38.857169,38.857405,-77.053835,-77.053320,38.857287,-77.053577
4,31002,38.855909,38.898532,-77.050272,-77.031493,38.877220,-77.040883
...,...,...,...,...,...,...,...
769,32608,38.885257,38.900318,-77.188663,-77.173358,38.892787,-77.181010
770,32609,38.885490,38.885722,-77.167024,-77.166716,38.885606,-77.166870
771,32901,38.862614,39.100415,-77.157795,-76.923418,38.981515,-77.040607
772,33200,38.896423,38.896861,-77.039935,-77.039502,38.896642,-77.039719
773,MTL-ECO5-03,NaN,NaN,NaN,NaN,NaN,NaN

## Step 2: Define a Function to Match Coordinates
Create a function that takes the latitude and longitude of a row and finds the start_station_id that falls within the corresponding range.

how is it possible that there are more unique values in the id columns than in the name columns? they should be the same. one possible explanation is that one station_name has multiple station_id's

In [ ]:
def find_station_id(lat, lng, station_bounds):
    # Filter the station bounds for matches
    matches = station_bounds[
        (station_bounds["min_lat"] <= lat) & 
        (station_bounds["max_lat"] >= lat) & 
        (station_bounds["min_lng"] <= lng) & 
        (station_bounds["max_lng"] >= lng)]
    print(f"Lat: {lat}, Lng: {lng}, Matches:\n{matches}")
    
    # If exactly one match, return the station ID
    if len(matches) == 1:
        return matches["start_station_id"].iloc[0]
    elif len(matches) > 1:
        # Calculate distances to the centroid of each matching station
        matches["distance"] = np.sqrt(
            (matches["centroid_lat"] - lat) ** 2 + 
            (matches["centroid_lng"] - lng) ** 2
        )
        # Return the station ID with the smallest distance
        return matches.loc[matches["distance"].idxmin(), "start_station_id"]
    return None

test_row = bikes2.iloc[0]
print(find_station_id(test_row["start_lat"], test_row["start_lng"], station_bounds))

Lat: 38.88044, Lng: -77.025236, Matches:
    start_station_id   min_lat   max_lat    min_lng    max_lng  centroid_lat  \
2              31000 38.858413 38.901662 -77.054355 -77.003299     38.880038
38             31037 38.880331 38.963735 -77.112578 -77.010278     38.922033
40             31039 38.877899 38.905543 -77.108277 -77.002862     38.891721
97             31096 38.862081 38.902588 -77.089585 -77.017568     38.882334
105            31104 38.855893 39.061979 -77.218401 -76.927233     38.958936
..               ...       ...       ...        ...        ...           ...
486            31828 38.879727 38.941556 -77.037350 -76.996243     38.910642
518            31931 38.812345 38.897328 -77.043825 -77.022280     38.854836
533            31947 38.876493 38.964018 -77.109266 -77.005151     38.920255
728            32278 38.846972 38.963585 -77.303349 -77.010254     38.905279
771            32901 38.862614 39.100415 -77.157795 -76.923418     38.981515

     centroid_lng
2      -77.028827
38     -77.061428
40     -77.055569
97     -77.053577
105    -77.072817
..            ...
486    -77.016797
518    -77.033052
533    -77.057209
728    -77.156802
771    -77.040607

[95 rows x 7 columns]
31000

/var/folders/kj/_mqw0wd165b_qz356cmtmkzc0000gn/T/ipykernel_3343/840744146.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches["distance"] = np.sqrt(

## Step 3: Apply the Function to Fill Missing Values
Use the .apply() method to fill the missing start_station_id values.

In [62]:
bikes2["start_station_id"] = bikes2.apply(
    lambda row: find_station_id(row["start_lat"], row["start_lng"], station_bounds)
    if pd.isnull(row["start_station_id"]) else row["start_station_id"],
    axis=1
)

In [84]:
test_row = bikes2.iloc[0]  # Replace with a specific row index
print(find_station_id(test_row["start_lat"], test_row["start_lng"], station_bounds))

None

In [63]:
missing_count = bikes2["start_station_id"].isnull().sum()
print(f"Remaining missing start_station_id values: {missing_count}")

Remaining missing start_station_id values: 729852

In [86]:
print(f"Latitudes: {bikes2['start_lat'].min()} - {bikes2['start_lat'].max()}")
print(f"Longitudes: {bikes2['start_lng'].min()} - {bikes2['start_lng'].max()}")

print(f"Station Bounds Latitude: {station_bounds['min_lat'].min()} - {station_bounds['max_lat'].max()}")
print(f"Station Bounds Longitude: {station_bounds['min_lng'].min()} - {station_bounds['max_lng'].max()}")

Latitudes: 38.76 - 39.14
Longitudes: -77.4 - -76.82
Station Bounds Latitude: 38.78254 - 39.125909666666665
Station Bounds Longitude: -77.38259231666666 - -76.82551216666667

In [64]:
bikes2[bikes2["start_station_id"].isnull()]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5,0FD3B4B2152425C3,electric_bike,2021-01-01 00:18:16,2021-01-01 00:29:05,NaN,None,Georgia Ave & Kennedy St NW,31415,38.93,-77.03,38.956738,-77.027940,casual
20,997E8E08C493F034,electric_bike,2021-01-01 00:27:18,2021-01-01 00:34:30,NaN,None,NaN,NaN,38.99,-77.03,38.990000,-77.030000,member
22,87E06BFC439643DA,electric_bike,2021-01-01 00:32:44,2021-01-01 00:32:51,NaN,None,NaN,NaN,38.89,-76.99,38.890000,-76.990000,casual
24,6E4F247C2E3358BA,electric_bike,2021-01-01 00:35:51,2021-01-01 00:37:57,NaN,None,Lincoln Park / 13th & East Capitol St NE,31619,38.89,-76.99,38.890484,-76.988408,casual
37,60807578738CDEB8,electric_bike,2021-01-01 00:50:13,2021-01-01 00:57:14,NaN,None,NaN,NaN,38.95,-77.03,38.930000,-77.040000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10693955,A7B09070FCF499EB,electric_bike,2023-12-31 23:43:05,2023-12-31 23:46:24,NaN,None,NaN,NaN,38.94,-77.03,38.940000,-77.020000,casual
10693961,8849112D688B0459,electric_bike,2023-12-31 23:45:13,2024-01-01 00:02:39,NaN,None,11th & M St NW,31266,38.88,-77.03,38.905578,-77.027313,casual
10693965,3D9C23043451AF9C,electric_bike,2023-12-31 23:46:57,2024-01-01 00:03:20,NaN,None,14th St & Spring Rd NW,31401,38.91,-77.04,38.937500,-77.032800,member
10693974,4D77E3EF9A1126E0,electric_bike,2023-12-31 23:50:12,2023-12-31 23:53:09,NaN,None,Adams Mill & Columbia Rd NW,31104,38.93,-77.03,38.922849,-77.042525,member
10693977,EA4524CC5F528237,electric_bike,2023-12-31 23:51:14,2023-12-31 23:59:49,NaN,None,NaN,NaN,38.91,-77.02,38.920000,-77.040000,member

In [66]:
unmatched_rows = bikes2[bikes2["start_station_id"].isnull()]
unmatched_rows[["start_lat", "start_lng"]].head()

    start_lat  start_lng
5       38.93     -77.03
20      38.99     -77.03
22      38.89     -76.99
24      38.89     -76.99
37      38.95     -77.03

In [68]:
bikes2[(bikes2["start_lat"]== 38.93) & (bikes2["start_lng"]== -77.03)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5,0FD3B4B2152425C3,electric_bike,2021-01-01 00:18:16,2021-01-01 00:29:05,NaN,None,Georgia Ave & Kennedy St NW,31415,38.93,-77.03,38.956738,-77.027940,casual
126,BA32EE255BA97025,electric_bike,2021-01-01 02:40:21,2021-01-01 02:46:07,NaN,None,NaN,NaN,38.93,-77.03,38.930000,-77.040000,member
406,A76AB7597AAA4850,electric_bike,2021-01-01 10:33:24,2021-01-01 10:40:40,NaN,None,14th & Girard St NW,31123,38.93,-77.03,38.925369,-77.032448,member
693,53148B27C97A0C38,electric_bike,2021-01-01 14:38:28,2021-01-01 14:52:44,NaN,None,3rd & M St NE,31627,38.93,-77.03,38.905556,-77.002186,casual
802,2FB7661DA25E84B0,electric_bike,2021-01-01 16:13:33,2021-01-01 16:17:54,NaN,None,NaN,NaN,38.93,-77.03,38.930000,-77.030000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10693549,C8A85158D0C14998,electric_bike,2023-12-31 21:48:44,2023-12-31 22:01:43,NaN,None,NaN,NaN,38.93,-77.03,38.920000,-77.040000,member
10693570,568380C6A82DA50A,electric_bike,2023-12-31 21:56:57,2023-12-31 22:06:52,NaN,None,3rd & H St NW,31604,38.93,-77.03,38.899408,-77.015289,casual
10693868,70C5EDA171FBEEA3,electric_bike,2023-12-31 23:23:06,2023-12-31 23:28:49,NaN,None,NaN,NaN,38.93,-77.03,38.930000,-77.030000,member
10693874,3322C95512C294DC,electric_bike,2023-12-31 23:24:36,2023-12-31 23:26:31,NaN,None,11th & Park Rd NW,31651,38.93,-77.03,38.931322,-77.028247,member
10693974,4D77E3EF9A1126E0,electric_bike,2023-12-31 23:50:12,2023-12-31 23:53:09,NaN,None,Adams Mill & Columbia Rd NW,31104,38.93,-77.03,38.922849,-77.042525,member

In [69]:
pd.set_option("display.float_format", lambda x: f"{x:.6f}")
print(bikes2.head())

            ride_id  rideable_type          started_at            ended_at  \
0  5CB9DFCECF79AF84   classic_bike 2021-01-01 00:08:33 2021-01-01 00:33:53
1  629E059504606547  electric_bike 2021-01-01 00:13:43 2021-01-01 00:29:34
2  E74069873161EE33  electric_bike 2021-01-01 00:14:32 2021-01-01 00:28:45
3  91F95E512CABC46A   classic_bike 2021-01-01 00:15:45 2021-01-01 00:21:20
4  DA46A05139C0EA2F   classic_bike 2021-01-01 00:17:46 2021-01-01 00:21:00

              start_station_name start_station_id  \
0          Maine Ave & 9th St SW            31646
1                 10th & U St NW            31111
2          17th & Corcoran St NW            31214
3  Wilson Blvd. & N. Vermont St.            31926
4              11th & Park Rd NW            31651

                           end_station_name end_station_id  start_lat  \
0  Rosslyn Metro / Wilson Blvd & Ft Myer Dr          31015  38.880440
1                                       NaN            NaN  38.917193
2                      14th & Belmont St NW          31119  38.912138
3             Wilson Blvd. & N. Vermont St.          31926  38.879477
4                       14th & Newton St NW          31649  38.931322

   start_lng   end_lat    end_lng member_casual
0 -77.025236 38.894600 -77.072305        member
1 -77.025894 38.960000 -77.020000        casual
2 -77.038568 38.920870 -77.031691        member
3 -77.114563 38.879477 -77.114563        member
4 -77.028247 38.931991 -77.032956        member

In [70]:
bikes2[(bikes2["start_lat"]== 38.93) & (bikes2["start_lng"]== -77.03)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
5,0FD3B4B2152425C3,electric_bike,2021-01-01 00:18:16,2021-01-01 00:29:05,NaN,None,Georgia Ave & Kennedy St NW,31415,38.930000,-77.030000,38.956738,-77.027940,casual
126,BA32EE255BA97025,electric_bike,2021-01-01 02:40:21,2021-01-01 02:46:07,NaN,None,NaN,NaN,38.930000,-77.030000,38.930000,-77.040000,member
406,A76AB7597AAA4850,electric_bike,2021-01-01 10:33:24,2021-01-01 10:40:40,NaN,None,14th & Girard St NW,31123,38.930000,-77.030000,38.925369,-77.032448,member
693,53148B27C97A0C38,electric_bike,2021-01-01 14:38:28,2021-01-01 14:52:44,NaN,None,3rd & M St NE,31627,38.930000,-77.030000,38.905556,-77.002186,casual
802,2FB7661DA25E84B0,electric_bike,2021-01-01 16:13:33,2021-01-01 16:17:54,NaN,None,NaN,NaN,38.930000,-77.030000,38.930000,-77.030000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10693549,C8A85158D0C14998,electric_bike,2023-12-31 21:48:44,2023-12-31 22:01:43,NaN,None,NaN,NaN,38.930000,-77.030000,38.920000,-77.040000,member
10693570,568380C6A82DA50A,electric_bike,2023-12-31 21:56:57,2023-12-31 22:06:52,NaN,None,3rd & H St NW,31604,38.930000,-77.030000,38.899408,-77.015289,casual
10693868,70C5EDA171FBEEA3,electric_bike,2023-12-31 23:23:06,2023-12-31 23:28:49,NaN,None,NaN,NaN,38.930000,-77.030000,38.930000,-77.030000,member
10693874,3322C95512C294DC,electric_bike,2023-12-31 23:24:36,2023-12-31 23:26:31,NaN,None,11th & Park Rd NW,31651,38.930000,-77.030000,38.931322,-77.028247,member
10693974,4D77E3EF9A1126E0,electric_bike,2023-12-31 23:50:12,2023-12-31 23:53:09,NaN,None,Adams Mill & Columbia Rd NW,31104,38.930000,-77.030000,38.922849,-77.042525,member