# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along. Resourse: http://www.pieriandata.com

** Import pandas as pd.**

In [40]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [41]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [42]:
sal.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [43]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [44]:
sal['BasePay'].mean()

np.float64(66325.4488404877)

** What is the highest amount of OvertimePay in the dataset ? **

In [45]:
sal['OvertimePay'].max()

np.float64(245131.88)

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [46]:
sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [47]:
print(sal.index[sal['EmployeeName'] == "JOSEPH DRISCOLL"])
sal.loc[24, "JobTitle"]

Index([24], dtype='int64')

'CAPTAIN, FIRE SUPPRESSION'

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [48]:
sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [49]:
# sal.sort_values("TotalPayBenefits", ascending = False)
sal.nlargest(1, "TotalPayBenefits")[["EmployeeName","TotalPayBenefits"]]

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [50]:
sal.nsmallest(1, "TotalPayBenefits")[["EmployeeName","TotalPayBenefits"]]

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [51]:
sal.groupby("Year")["BasePay"].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [52]:
sal["JobTitle"].nunique()

2159

** What are the top 5 most common jobs? **

In [53]:
count_jobs= sal["JobTitle"].value_counts()
count_jobs.nlargest(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [75]:
year_2013 = sal[(sal["Year"] == 2013)]

sum_job_title_2013 = year_2013["JobTitle"].value_counts()

# print(sum_job_title_2013)

one_person_job_2013 = sum_job_title_2013 [sum_job_title_2013 == 1]
print (one_person_job_2013.__len__())
one_person_job_2013

202

JobTitle
Mayor                          1
Adm, SFGH Medical Center       1
Controller                     1
Parking Hearing Examiner       1
Court Asst., Superior Court    1
                              ..
IS Technician Assistant        1
Chief, Fire Department         1
Braillist                      1
Victim & Witness Technician    1
Senior Assessment Clerk        1
Name: count, Length: 202, dtype: int64

GROUP BY TWO COLOUMNS AND GET COUNT

df.groupby(['col5', 'col2']).size()

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [93]:
chief_string = ['chief']
sal["JobTitle"].str.find("chief")

# filtered_sal = sal[sal["JobTitle"].str.find(chief_string)]
# filtered_sal

0        -1
1        -1
2        -1
3        -1
4        -1
         ..
148649   -1
148650   -1
148651   -1
148652   -1
148653   -1
Name: JobTitle, Length: 148654, dtype: int64

In [98]:
def search_string(s, search):
    return search in str(s).lower()

mask = sal.apply(lambda x: x.map(lambda s: search_string(s, 'chief')))
filtered_df = sal.loc[mask.any(axis=1)]
filtered_df[["EmployeeName", "JobTitle"]]

               EmployeeName                                      JobTitle
4           PATRICK GARDNER  DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5            DAVID SULLIVAN                     ASSISTANT DEPUTY CHIEF II
6                 ALSON LEE            BATTALION CHIEF, (FIRE DEPARTMENT)
8            MICHAEL MORRIS            BATTALION CHIEF, (FIRE DEPARTMENT)
9        JOANNE HAYES-WHITE        CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
...                     ...                                           ...
138011     Sharon C Jackson                Chief Deputy Adlt Probation Of
139620          Anita S Lee                                   Chief Clerk
139709     George D Vaughan                      Chief Nursery Specialist
140080  Patrick W Gillespie                              Chief Preparator
140156  Christopher L Ochoa                     Chief Stationary Engineer

[631 rows x 2 columns]

In [100]:
# OPTION 2

def countword(word):
    if 'chief' in word.lower().split() :
        return True
    else:
        return False
    
sum(sal['JobTitle'].apply(countword))

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

# Great Job!