In [8]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import statistics as st
import seaborn as sns
import datetime 
import pandas as pd
import os
import sqlite3
from sqlite3 import Error

In [3]:
df = pd.read_csv("Sample-Superstore.csv", encoding = "latin1")

In [30]:
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [5]:
df.nunique()

Row ID           9994
Order ID         5009
Order Date       1237
Ship Date        1334
Ship Mode           4
Customer ID       793
Customer Name     793
Segment             3
Country             1
City              531
State              49
Postal Code       631
Region              4
Product ID       1862
Category            3
Sub-Category       17
Product Name     1850
Sales            5825
Quantity           14
Discount           12
Profit           7287
dtype: int64

In [6]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [7]:
# Check for duplicates in OrderID and ProductID
duplicates = df[df.duplicated(subset=["Order ID", "Product ID"], keep=False)]

# Display duplicates
print(duplicates)

      Row ID        Order ID  Order Date   Ship Date       Ship Mode  \
350      351  CA-2016-129714    9/1/2016    9/3/2016     First Class
352      353  CA-2016-129714    9/1/2016    9/3/2016     First Class
430      431  US-2016-123750   4/15/2016   4/21/2016  Standard Class
431      432  US-2016-123750   4/15/2016   4/21/2016  Standard Class
1300    1301  CA-2016-137043  12/23/2016  12/25/2016    Second Class
1301    1302  CA-2016-137043  12/23/2016  12/25/2016    Second Class
3183    3184  CA-2017-152912   11/9/2017  11/12/2017    Second Class
3184    3185  CA-2017-152912   11/9/2017  11/12/2017    Second Class
3405    3406  US-2014-150119   4/23/2014   4/27/2014  Standard Class
3406    3407  US-2014-150119   4/23/2014   4/27/2014  Standard Class
6498    6499  CA-2015-103135   7/24/2015   7/28/2015  Standard Class
6500    6501  CA-2015-103135   7/24/2015   7/28/2015  Standard Class
7881    7882  CA-2017-118017   12/3/2017   12/6/2017    Second Class
7882    7883  CA-2017-118017   12/3/2017   12/6/2017    Second Class
9168    9169  CA-2016-140571   3/15/2016   3/19/2016  Standard Class
9169    9170  CA-2016-140571   3/15/2016   3/19/2016  Standard Class

     Customer ID    Customer Name      Segment        Country           City  \
350     AB-10060  Adam Bellavance  Home Office  United States  New York City
352     AB-10060  Adam Bellavance  Home Office  United States  New York City
430     RB-19795       Ross Baird  Home Office  United States       Gastonia
431     RB-19795       Ross Baird  Home Office  United States       Gastonia
1300    LC-17140     Logan Currie     Consumer  United States    Springfield
1301    LC-17140     Logan Currie     Consumer  United States    Springfield
3183    BM-11650       Brian Moss    Corporate  United States       Columbia
3184    BM-11650       Brian Moss    Corporate  United States       Columbia
3405    LB-16795   Laurel Beltran  Home Office  United States       Columbus
3406    LB-16795   Laurel Beltran  Home Office  United States       Columbus
6498    SS-20515  Shirley Schmidt  Home Office  United States     Louisville
6500    SS-20515  Shirley Schmidt  Home Office  United States     Louisville
7881    LC-16870    Lena Cacioppo     Consumer  United States       Thornton
7882    LC-16870    Lena Cacioppo     Consumer  United States       Thornton
9168    SJ-20125    Sanjit Jacobs  Home Office  United States        Jackson
9169    SJ-20125    Sanjit Jacobs  Home Office  United States        Jackson

      ... Postal Code  Region       Product ID         Category Sub-Category  \
350   ...       10009    East  OFF-PA-10001970  Office Supplies        Paper
352   ...       10009    East  OFF-PA-10001970  Office Supplies        Paper
430   ...       28052   South  TEC-AC-10004659       Technology  Accessories
431   ...       28052   South  TEC-AC-10004659       Technology  Accessories
1300  ...       22153   South  FUR-FU-10003664        Furniture  Furnishings
1301  ...       22153   South  FUR-FU-10003664        Furniture  Furnishings
3183  ...       21044    East  OFF-ST-10003208  Office Supplies      Storage
3184  ...       21044    East  OFF-ST-10003208  Office Supplies      Storage
3405  ...       43229    East  FUR-CH-10002965        Furniture       Chairs
3406  ...       43229    East  FUR-CH-10002965        Furniture       Chairs
6498  ...       40214   South  OFF-BI-10000069  Office Supplies      Binders
6500  ...       40214   South  OFF-BI-10000069  Office Supplies      Binders
7881  ...       80229    West  TEC-AC-10002006       Technology  Accessories
7882  ...       80229    West  TEC-AC-10002006       Technology  Accessories
9168  ...       39212   South  OFF-PA-10001954  Office Supplies        Paper
9169  ...       39212   South  OFF-PA-10001954  Office Supplies        Paper

                                           Product Name     Sales  Quantity  \
350                                          Xerox 1881    24.560         2
352                                          Xerox 1881    49.120         4
430   Imation Secure+ Hardware Encrypted USB 2.0 Fla...   408.744         7
431   Imation Secure+ Hardware Encrypted USB 2.0 Fla...   291.960         5
1300  Electrix Architect's Clamp-On Swing Arm Lamp, ...   572.760         6
1301  Electrix Architect's Clamp-On Swing Arm Lamp, ...   286.380         3
3183                 Adjustable Depth Letter/Legal Cart  1633.140         9
3184                 Adjustable Depth Letter/Legal Cart   544.380         3
3405  Global Leather Highback Executive Chair with P...   281.372         2
3406  Global Leather Highback Executive Chair with P...   281.372         2
6498  GBC Prepunched Paper, 19-Hole, for Binding Sys...   135.090         9
6500  GBC Prepunched Paper, 19-Hole, for Binding Sys...    90.060         6
7881                   Memorex Micro Travel Drive 16 GB    76.752         6
7882                   Memorex Micro Travel Drive 16 GB   102.336         8
9168                                         Xerox 1964   319.760        14
9169                                         Xerox 1964    45.680         2

      Discount    Profit
350        0.0   11.5432
352        0.0   23.0864
430        0.2   76.6395
431        0.2   54.7425
1300       0.0  166.1004
1301       0.0   83.0502
3183       0.0  473.6106
3184       0.0  157.8702
3405       0.3  -12.0588
3406       0.3  -12.0588
6498       0.0   62.1414
6500       0.0   41.4276
7881       0.2   10.5534
7882       0.2   14.0712
9168       0.0  147.0896
9169       0.0   21.0128

[16 rows x 21 columns]

# Loading data into sqllite

In [61]:
# Connect to SQLite database (creates file if not exists)
conn = sqlite3.connect("superstore.db")
cursor = conn.cursor()

In [88]:
import os

# Delete the old database file if it exists
if os.path.exists("superstore.db"):
    os.remove("superstore.db")

In [89]:
import sqlite3

# Create a fresh SQLite connection
conn = sqlite3.connect("superstore.db")
cursor = conn.cursor()

# Create Tables
cursor.executescript('''
-- Regions Table
CREATE TABLE Regions (
    RegionID INTEGER PRIMARY KEY AUTOINCREMENT,
    RegionName VARCHAR(50),
    State VARCHAR(50),
    City VARCHAR(100),
    PostalCode INT
);

-- Customers Table
CREATE TABLE Customers (
    CustomerID VARCHAR(20) PRIMARY KEY,
    CustomerName VARCHAR(100),
    Segment VARCHAR(50),
    RegionID INT,
    FOREIGN KEY (RegionID) REFERENCES Regions(RegionID)
);

-- Categories Table
CREATE TABLE Categories (
    CategoryID INTEGER PRIMARY KEY AUTOINCREMENT,
    CategoryName VARCHAR(50)
);

-- Products Table
CREATE TABLE Products (
    ProductID VARCHAR(20) PRIMARY KEY,
    ProductName VARCHAR(255),
    CategoryID INT,
    SubCategory VARCHAR(50),
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID)
);

-- Shipping Table
CREATE TABLE Shipping (
    ShipID INTEGER PRIMARY KEY AUTOINCREMENT,
    ShipMode VARCHAR(50),
    ShipDate DATE
);

-- Orders Table
CREATE TABLE Orders (
    OrderID VARCHAR(20) PRIMARY KEY,
    OrderDate DATE,
    CustomerID VARCHAR(20),
    ShipID INT,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
    FOREIGN KEY (ShipID) REFERENCES Shipping(ShipID)
);

-- Order Details Table
CREATE TABLE OrderDetails (
    OrderDetailID INTEGER PRIMARY KEY AUTOINCREMENT,
    OrderID VARCHAR(20),
    ProductID VARCHAR(20),
    Sales DECIMAL(10,2),
    Quantity INT,
    Discount DECIMAL(5,2),
    Profit DECIMAL(10,2),
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
);
''')

# Commit and close connection
conn.commit()
conn.close()

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

#sqlalchemy.create_engine is used to create a connection to the SQLite database in a more flexible way, allowing pandas to directly write (to_sql) and read (read_sql) data.

# Read the CSV file
df = pd.read_csv("Sample-Superstore.csv", encoding="latin1")

# Drop Row ID since it doesnt have any meaningful role in relationships / prevent errors
df.drop(columns=["Row ID"], inplace=True)

# Connect to SQLite
engine = create_engine("sqlite:///superstore.db")

### Insert Data into Regions ###
regions_df = df[['Region', 'State', 'City', 'Postal Code']].drop_duplicates().rename(
    columns={'Region': 'RegionName', 'Postal Code': 'PostalCode'}
)
# regions_df.to_sql('Regions', con=engine, if_exists='append', index=False)

### Insert Data into Customers ###
customers_df = df[['Customer ID', 'Customer Name', 'Segment', 'Region', 'State', 'City', 'Postal Code']].drop_duplicates().rename(columns={"Region":"RegionName", "Postal Code":"PostalCode"})
regions_df = pd.read_sql("SELECT * FROM Regions", con=engine)  # Fetch Region IDs
customers_df = customers_df.merge(
    regions_df, on=['RegionName', 'State', 'City', 'PostalCode'], how='left'
).drop(columns=['RegionName', 'State', 'City', 'PostalCode'])
customers_df.rename(columns={'Customer ID': 'CustomerID', 'Customer Name': 'CustomerName'}, inplace=True)
### **Drop duplicates by CustomerID after merging**
customers_df = customers_df.drop_duplicates(subset=['CustomerID'])
# customers_df.to_sql('Customers', con=engine, if_exists='append', index=False)

### Insert Data into Categories ###
categories_df = df[['Category']].drop_duplicates().rename(columns={'Category': 'CategoryName'})
# categories_df.to_sql('Categories', con=engine, if_exists='append', index=False)

### Insert Data into Products ###
products_df = df[['Product ID', 'Product Name', 'Category', 'Sub-Category']].drop_duplicates().rename(
    columns={"Sub-Category":"SubCategory"}
)
categories_df = pd.read_sql("SELECT * FROM Categories", con=engine)  # Fetch Category IDs
products_df = products_df.merge(categories_df, left_on='Category', right_on='CategoryName', how='left').drop(columns=['Category', 'CategoryName'])
products_df.rename(columns={'Product ID': 'ProductID', 'Product Name': 'ProductName'}, inplace=True)
products_df = products_df.drop_duplicates(subset=['ProductID'])
# products_df.to_sql('Products', con=engine, if_exists='append', index=False)

# ### Insert Data into Shipping ###
shipping_df = df[['Ship Mode', 'Ship Date']].drop_duplicates().rename(columns={"Ship Mode": "ShipMode", "Ship Date":"ShipDate"})
# shipping_df.to_sql('Shipping', con=engine, if_exists='append', index=False)

# ### Insert Data into Orders ###
orders_df = df[['Order ID', 'Order Date', 'Customer ID', 'Ship Mode', 'Ship Date']].drop_duplicates().rename(
    columns={"Ship Mode": "ShipMode", "Ship Date":"ShipDate"})
shipping_df = pd.read_sql("SELECT * FROM Shipping", con=engine)  # Fetch Ship IDs
orders_df = orders_df.merge(shipping_df, on=['ShipMode', 'ShipDate'], how='left').drop(columns=['ShipMode', 'ShipDate'])
orders_df.rename(columns={'Order ID': 'OrderID', 'Order Date': 'OrderDate', 'Customer ID': 'CustomerID'}, inplace=True)
# orders_df.to_sql('Orders', con=engine, if_exists='append', index=False)

# ### Insert Data into OrderDetails ###
order_details_df = df[['Order ID', 'Product ID', 'Sales', 'Quantity', 'Discount', 'Profit']]
order_details_df.rename(columns={'Order ID': 'OrderID', 'Product ID': 'ProductID'}, inplace=True)
order_details_df.to_sql('OrderDetails', con=engine, if_exists='append', index=False)

# print("✅ Database successfully created and loaded!")

/var/folders/kj/_mqw0wd165b_qz356cmtmkzc0000gn/T/ipykernel_992/4109585022.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  order_details_df.rename(columns={'Order ID': 'OrderID', 'Product ID': 'ProductID'}, inplace=True)

9994

# Queries
What is the category generating the maximum sales revenue?
What about the profit in this category?
Are they making a loss in any categories?
What are 5 states generating the maximum and minimum sales revenue?
What are the 3 products in each product segment with the highest sales?

Are they the 3 most profitable products as well?
What are the 3 best-seller products in each product segment? (Quantity-wise)

What are the top 3 worst-selling products in every category? (Quantity-wise)

How many unique customers per month are there for the year 2016. (There's a catch here: contrary to other 'heavier' RDBMS, SQLite does not support the functions YEAR() or MONTH() to extract the year or the month in a date. You will have to create two new columns: year and month.)

In [126]:
# What is the category generating the maximum sales revenue?
query ="""
SELECT CategoryName, sum(Sales) as revenue
FROM Products p
JOIN OrderDetails o ON p.ProductID = o.ProductID
JOIN Categories c ON c.CategoryID = p.CategoryID
GROUP BY CategoryName
ORDER BY revenue DESC
LIMIT 1
"""
pd.read_sql(query, con=engine)

  CategoryName     revenue
0   Technology  836154.033

In [124]:
df = pd.read_csv("Sample-Superstore.csv", encoding="latin1")

In [125]:
df.groupby("Category")["Sales"].sum()

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64

In [128]:
# What about the profit in this category?
query ="""
SELECT CategoryName, sum(Sales) as revenue, sum(Profit)
FROM Products p
JOIN OrderDetails o ON p.ProductID = o.ProductID
JOIN Categories c ON c.CategoryID = p.CategoryID
GROUP BY CategoryName
ORDER BY revenue DESC
LIMIT 1
"""
pd.read_sql(query, con=engine)

  CategoryName     revenue  sum(Profit)
0   Technology  836154.033  145454.9481

In [129]:
# Are they making a loss in any categories?
query ="""
SELECT CategoryName, sum(Sales) as revenue, sum(Profit)
FROM Products p
JOIN OrderDetails o ON p.ProductID = o.ProductID
JOIN Categories c ON c.CategoryID = p.CategoryID
GROUP BY CategoryName
ORDER BY revenue DESC
"""
pd.read_sql(query, con=engine)

      CategoryName      revenue  sum(Profit)
0       Technology  836154.0330  145454.9481
1        Furniture  741999.7953   18451.2728
2  Office Supplies  719047.0320  122490.8008

In [ ]:
# What are 5 states generating the maximum and minimum sales revenue?
query ="""
(
SELECT r.State, sum(Sales) as revenue
FROM Regions r
JOIN Customers c ON r.RegionID = c.RegionID
JOIN Orders o ON c.CustomerID = o.CustomerID
JOIN OrderDetails od ON o.OrderID = od.OrderID
GROUP BY r.State
ORDER BY revenue DESC
LIMIT 5 
)

UNION ALL

(
SELECT r.State, sum(Sales) as revenue
FROM Regions r
JOIN Customers c ON r.RegionID = c.RegionID
JOIN Orders o ON c.CustomerID = o.CustomerID
JOIN OrderDetails od ON o.OrderID = od.OrderID
GROUP BY r.State
ORDER BY revenue ASC
LIMIT 5 
);
"""
pd.read_sql(query, con=engine)

In [138]:
query = """
WITH RankedStates AS (
    SELECT r.State, 
           SUM(od.Sales) AS revenue,
           RANK() OVER (ORDER BY SUM(od.Sales) DESC) AS top_rank,
           RANK() OVER (ORDER BY SUM(od.Sales) ASC) AS bottom_rank
    FROM Regions r
    JOIN Customers c ON r.RegionID = c.RegionID
    JOIN Orders o ON c.CustomerID = o.CustomerID
    JOIN OrderDetails od ON o.OrderID = od.OrderID
    GROUP BY r.State
)
SELECT State, revenue 
FROM RankedStates
WHERE top_rank <= 5 OR bottom_rank <= 5;"""

pd.read_sql(query, con=engine)

                  State      revenue
0            California  451036.5823
1              New York  279549.8235
2                 Texas  192758.2049
3          Pennsylvania  142838.5510
4            Washington  133177.2518
5          South Dakota    2339.5980
6  District of Columbia    2198.4500
7                Kansas    1727.6520
8              Maryland    1588.8100
9                Nevada    1214.9860

In [ ]:
# What are the 3 products in each product segment with the highest sales?